<table>
    <thead>
        <tr>
            <th>Subnet</th>
            <th>Subnet Name</th>
            <th>Owner</th>
            <th>Intended Use</th>
        </tr>
    </thead>
    <tbody>
{{ range $.Site.Data.allocation.allocation }}
{{ if and (not (eq .Owner "Free")) (not (eq .Owner "Reserved")) }}
        <tr>
            <td>{{ .Subnet }}</td>
            <td>{{ .SubnetName }}</td>
            <td>{{ .Owner }}</td>
            <td>{{ .IntendedUse }}</td>
        </tr>
{{ end }}
{{ end }}
    </tbody>
</table>
