<table>
    <thead>
        <tr>
            <th>MemberID</th>
            <th>Identity</th>
            <th>Contact Email</th>
        </tr>
    </thead>
    <tbody>
{{ range $.Site.Data.membership.membership }}
        <tr>
            <td>
{{ if .NetworkOperator }}
<b>
{{ end }}
            {{ .MemberID }}
{{ if .NetworkOperator }}
</b>
{{ end }}
            </td>
            <td>{{ .Identity }}</td>
            <td>{{ .ContactEmail }}</td>
        </tr>
{{ end }}
    </tbody>
</table>
