<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Subnet Behind</th>
            <th>Public Key</th>
        </tr>
    </thead>
    <tbody>
{{ range $.Site.Data.publicpeers.peer }}
        <tr>
            <td>{{ .Owner }}{{ .Identifier }}</td>
            <td>{{ .Address }}</td>
            <td>{{ .SubnetBehind }}</td>
            <td><a href="../../pubkeys/{{ .Owner }}{{ .Identifier }}.pub">{{ .Owner }}{{ .Identifier }}.pub</td>
        </tr>
{{ end }}
    </tbody>
</table>
