<table>
    <thead>
        <tr>
            <th>Subnet</th>
            <th>Intended Use</th>
        </tr>
    </thead>
    <tbody>
{{ range $.Site.Data.allocation.allocation }}
{{ if eq .Owner "Reserved" }}
        <tr>
            <td>{{ .Subnet }}</td>
            <td>{{ .IntendedUse }}</td>
        </tr>
{{ end }}
{{ end }}
    </tbody>
</table>
